header.site {
  margin-left: 30px;
  padding: 0 20px;
}

header.site .title {
  text-align: left;
}

header.site .title a:hover {
  color: #FF5733;
}

.message p {
  margin: 30px;
  font-size: 1.5rem;
  text-align: center;
}

hr {
  border-color: #7a7a7a;
}

.navbar-default {
  margin: 30px;
  padding: 5px 0;
  background-color: #fff;
  border-width: 0;
  border-color: #333;
  border-bottom-width: 1px;
  border-radius: 0px;
}

.navbar-header {
  align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navbar .navbar-nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  padding: 0px 10px;
}

.navbar .navbar-nav li a {
  text-decoration: none;
  display: block;
  color: #333;
}

.navbar .navbar-nav li a:hover {
  color: #FF5733;
}

.navbar .navbar-nav li a.active {
  background-color: #273746;
  color: #FF5733;
  cursor: default;
}

.navbar .navbar-collapse {
  text-align: center;
  border-width: 0;
}

article.single .article-date {
  float: left;
}

.categories a:hover {
  color: #FF5733;
}

article.single .article-body blockquote {
  padding: 1.5rem;
}

article.single .article-body blockquote p {
  font-size: 0.9rem;
  line-height: 1.8rem;
  white-space: pre-line;
}

article.single .article-body h2 {
  word-break: normal;
  padding-top: 2em;
  margin-top: 0;
  clear: both;
}

article.li a {
  border: 1.5px solid #ccc;
}

article.li a:hover {
  border: 1.5px solid #FF5733;

}

article.li {
  margin-top: 1rem;
}

article.li time {
  font-size: 0.8rem;
}

article.li .title {
  white-space: nowrap;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.3rem;
}

article.li .summary {
  word-break: break-word;
}

article.single .article-body a {
  color: #407FC0;
  text-decoration: none;
}

.sidebar {
  padding: 2rem;
}

.unscaledimg {
  margin: 10px 0 10px 0;
}

.unscaledimg img {
  text-align: center;
  width: auto;
  max-width: 100%;
  height: auto;
}

.vertimg img {
  width: 60%;
}

.vertimg img.emoji {
  width: auto;
}

.borderedimg img {
  padding: 0.2rem;
  border: 1.5px solid #021a40;
}

div.inline40 {
  float: left;
  margin: 1rem 0.5rem 0 0;
  width: 40%;
  overflow: auto;
}

div.inline50 {
  float: left;
  margin: 1rem 0.5rem 0 0;
  width: 50%;
  overflow: auto;
}

div.inline40right {
  float: right;
  margin: 1rem 0 0 0.5em;
  width: 40%;
  overflow: auto;
}

div.inline50right {
  float: right;
  margin: 1rem 0 0 0.5em;
  width: 50%;
  overflow: auto;
}

.postimg {
  text-align: center;
  margin: 10px 0 10px 0;
}

.postimg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

a img {
  cursor: zoom-in;
}

.postimg em {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  color: #808080;
  line-height: 1rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-column-50 {
  flex: 50%;
  max-width: 49%;
  margin-left: 0rem;
  margin-right: 0.1rem;
}

.grid img {
  vertical-align: middle;
  margin-bottom: 0.1rem;
}

.grid-simple {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid-simple img {
  flex: 50%;
  max-width: 49%;
  margin-left: 0rem;
  margin-right: 0.1rem;
  vertical-align: middle;
  margin-bottom: 0.1rem;
}

nav.paging a:hover {
  color: #FF5733;
}

.icons {
  padding-bottom: 0px;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0rem 0.5rem;
}

ul.icons li a {
  text-decoration: none;
  position: relative;
  display: block;
  color: #4f4f4f;
}

ul.icons li a:hover {
  color: #FF5733;
}

.section.taxonomies a:hover {
  color: #FF5733;
}
