<div class="list">
  {{ partial "default_head.html" . }}
  <div class="row">
    <div class="col-sm-9">

      <header class="title"><h1>{{ .Title }}</h1></header>

      {{ range $key, $value := .Data.Terms.ByCount }}
      <a href="/{{ $.Data.Plural }}/{{ $value.Name | urlize }}/" class="{{ $.Data.Singular }}">{{ $value.Name }}</a>
      <br/>
      {{ end }}

    </div>

    <div class="col-sm-3 sidebar">
      {{ partial "sidebar.html" . }}
    </div>

  </div>
  {{ partial "default_foot.html" . }}
</div>
