<article class="li">
  <a href="{{ .Permalink }}" class="clearfix">
    <div class="image" style="background-image: url({{ with .Params.image }}{{ . | absURL }}{{ else }}{{ "images/default.jpg" | absURL }}{{ end }});">
        <div class="tag">
          <time>{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time>
          {{ with .Params.categories }}
            {{ range first 1 . }}
              <div class="category">{{ upper . }}</div>
            {{ end }}
          {{ end }}
        </div>

        <div class="tag-right">
          <div class="reading-time">{{ .ReadingTime }} MIN READ</div>
        </div>

        <div class="dark">
          <div class="detail">
            <div class="series">{{ with .Params.series }}{{ . }}{{ else }}<br>{{ end }}</div>
            <h2 class="title">{{ .Title }}</h2>
          </div>
        </div>
    </div>

    {{/* <div class="reading-time">
      <p>{{ .ReadingTime }} mins</p>
    </div> */}}
  </a>
</article>
