{{ partial "default_head.html" . }}
<div class="list">
  <div class="row">
    <div class="col-sm-9">

      <header class="title"><h1>{{ humanize .Data.Singular }} / {{ .Title }}</h1></header>

      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") .Site.Params.maxPostsPerPage }}

      <div class="articles">
        <div class="row">
          {{ range .Paginator.Pages }}
            <div class="col-sm-6">
              {{ .Render "li" }}
            </div>
          {{ end }}
        </div>
      </div>

      {{ partial "pagination.html" . }}

    </div>

    <div class="col-sm-3 sidebar">
      {{ partial "sidebar.html" . }}
    </div>

  </div>
</div>
{{ partial "default_foot.html" . }}
