{{ partial "default_head.html" . }}

<div class="single">

  <div class="row">
    <div class="col-sm-9">

      <article class="single" itemscope="itemscope" itemtype="http://schema.org/Article">

        <meta itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" content="{{ .Site.BaseURL }}"/>
        <meta itemprop="dateModified" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
        <meta itemprop="headline" content="{{ .Title }}">
        <meta itemprop="description" content="{{ .Summary }}">
        <meta itemprop="url" content="{{ .Permalink }}">
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
          <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="{{ .Site.BaseURL }}images/logo.jpg">
            <meta itemprop="width" content="100">
            <meta itemprop="height" content="100">
          </div>
          <meta itemprop="name" content="{{ .Site.Title }}">
        </div>

        <header class="article-header">
          <h1 class="article-title">{{ .Title }}</h1>
        </header>

        <hr width="80%" size="8" align="center">

        {{ if eq .Params.toc true }}
        <div class="list-default">{{ .TableOfContents }}</div>
        <hr width="80%" size="8" align="center">
        {{ end }}

        <div class="article-body" itemprop="articleBody">
          {{ .Content }}
        </div>

        <aside>
          <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.8/datamaps.all.js"></script>

          <script type="text/javascript">
            var world_travel_data = {
              IND: { fillKey: "bothTravelledTo" },
              USA: { fillKey: "bothTravelledTo" },
              LKA: { fillKey: "bothTravelledTo" },
              MMR: { fillKey: "bothTravelledTo" },
              IDN: { fillKey: "bothTravelledTo" },
              FIN: { fillKey: "bothTravelledTo" },
              KHM: { fillKey: "bothTravelledTo" },
              LAO: { fillKey: "bothTravelledTo" },
              NLD: { fillKey: "bothTravelledTo" },
              AUT: { fillKey: "bothTravelledTo" },
              HUN: { fillKey: "bothTravelledTo" },
              RUS: { fillKey: "bothTravelledTo" },
              VNM: { fillKey: "bothTravelledTo" },

              ITA: { fillKey: "parulTravelledTo" },
              SGP: { fillKey: "parulTravelledTo" },
              MYS: { fillKey: "parulTravelledTo" },
              FRA: { fillKey: "parulTravelledTo" },
              CHE: { fillKey: "parulTravelledTo" },
              VAT: { fillKey: "parulTravelledTo" },
              EST: { fillKey: "parulTravelledTo" },
              PRT: { fillKey: "parulTravelledTo" },

              GEO: { fillKey: "karanTravelledTo" },
              THA: { fillKey: "karanTravelledTo" },
              TWN: { fillKey: "karanTravelledTo" },
              PHL: { fillKey: "karanTravelledTo" }
            }

            var basic_choropleth = new Datamap({
              element: document.getElementById("world_map_choropleth"),
              projection: 'mercator',
              geographyConfig: {
                popupOnHover: true,
                highlightOnHover: false,
                borderColor: '#444',
                borderWidth: 0.5
              },
              fills: {
                defaultFill: "#D8D8D8",
                karanTravelledTo: "#0000FF",
                parulTravelledTo: "#FF0000",
                bothTravelledTo : "#FF00FF"
              },
              data: world_travel_data
            });
          </script>
        </aside>

      </article>
    </div>

    <div class="col-sm-3 sidebar">
      {{ partial "sidebar.html" . }}
    </div>

  </div>

</div>
{{ partial "default_foot.html" . }}
